body {
    background-image: url("https://st2.depositphotos.com/3894705/7745/i/450/depositphotos_77458360-stock-photo-grunge-background-of-dark-blue.jpg");
    background-size: cover; 
    color: #333; 
    font-family: Arial, sans-serif;
}

.titulo {
    color: #0066cc; 
}

.lista {
    list-style-type: none;
    padding: 0;
}

.item1,
.item2,
.item3 {
    background-color: #e6f7ff;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
}

.titulo-meta {
    color: #004080;
}

.importancia-meta {
    color: #336699;
}

.prazo-meta {
    color: #0073e6;
}