body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px;
}

.metas {
    margin: 20px;
}

.meta {
    margin-bottom: 20px;
}