h1{
    text-align: center;
    color: aquamarine;
    background-color: blue;
    font-size: 50px;
}

ul{
    font-size: 30px;
    color: black;
}

body{
    background-color: blanchedalmond;
}

.titulo-meta{
    background-color: bisque;
    font-size: 60px;
}
